*.iml
.gradle
/local.properties
/.idea/caches
/.idea/dictionaries
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
/project_data/local.properties.txt
.sync-exclude.lst
/project_data
